Source: speedpad
Section: misc
Priority: optional
Maintainer: John Feuerstein <john@feurix.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://feurix.org/projects/speedpad/
Vcs-Git: git://labs.feurix.org/feurix/misc/speedpad.git
Vcs-Browser: http://labs.feurix.org/misc/speedpad/

Package: speedpad
Architecture: all
Depends: ${misc:Depends}, python (>= 2.7)
Recommends: fortune
Suggests: gnuplot
Description: ncurses tool to test, train, and increase typing speed
 Speedpad is a small and portable, ncurses powered tool to test, train, and
 increase typing speed on arbitrary text input:
 .
  * designed for intermediate to advanced level typists
  * assumes that you have already learned how to touch type
  * no lessons, no single words, no synthetic stuff
  * tab expansion, auto indentation and syntax support to train on code
  * reference speed robot (defaults to 100 WPM)
  * supports CPS, CPM, WPM, PPM, and CPH/KPH metrics
  * shows detailed statistics about speed and typos
  * helps to find and eliminate frequent typos
 .
 Speedpad uses fortune(6) to generate quotes if no input is provided. It
 dumps statistics to standard output in machine-readable format. This can
 be used to visualize your progress using tools like gnuplot(1).
 .
 If you want to learn touch typing, have a look at gtypist(1) instead. If
 you want to play typing games, have a look at tuxtype(1) and typespeed(1).

